* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 550px;
  height: 900px;
}

nav {
  max-width: 550px;
  display: flex;
  height: 70px;
  padding: 20px 36px;
  background-color: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

  img {
    width: 82.02px;
    height: 25.35px;
  }
}

h2 {
  font-size: 0.8rem;
  font-weight: normal;
}

.gray {
  color: #918e9b;
}

.hero--container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  img {
    max-width: 320px;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  p {
    font-size: 1rem;
  }
}

.card--container {
  max-width: 176px;
  font-size: 0.8rem;

  img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 8px;
  }

  p {
    font-weight: 100;
  }

  .cost {
    font-weight: 600;
  }
}

.card--stats {
  display: flex;
  align-items: baseline;
  justify-items: center;
  gap: 5px;

  img {
    height: 14px;
    width: 14px;
  }
}
